<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Sign in</title>

  <link rel="stylesheet" href="/stylesheets/form.css" />
  <script defer src="/app.js"></script>
</head>

<%- include('../partials/_navbar.ejs') %>

<body>
    <div class="wrapper">
        <div class="content">
    <form action="/auth/sign-in" method="POST">
        <div class="form-title">Log In</div>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" />
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" />
        <button class="button" type="submit">Sign in</button>
    </form>
</div>
<%- include('../partials/_footer.ejs') %>
</div>
</body>
</html>
