<footer>
    <div class="footer-content">
      <div class="footer-links">
        <a href="">Contact Us</a> | 
        <a href="">Privacy Policy</a> | 
        <a href="">Terms of Service</a>
      </div>
      <div>
        <p>123 Project Avenue, Tech City, USA</p>
      </div>
      <p>&copy; 2025 ManTrack. All rights reserved.</p>
    </div>
  </footer>
  </html>