
<link rel="stylesheet" href="/stylesheets/nav.css" />
<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
<nav class="navbar">
    <div class="navbar-left">
      <a href="/" class="logo">
        <img src="/images/logo.png" alt="ManTrack Logo" class="logo-img">
        ManTrack
      </a>
    </div>

    <button class="menu-toggle" id="menuToggle">&#9776;</button>

    <div class="navbar-right" id="navbarRight">
      <% if(user) { %>
        <a href="/">Home</a>
        <a href="/project/">Projects</a>
        <a href="/profile">Profile</a>
        <a href="/auth/sign-out" class="sign-out">Sign Out</a>
      <% } else { %>
        <a href="/auth/sign-in">Sign In</a>
        <a href="/auth/sign-up">Sign Up</a>
      <% } %>
    </div>
  </nav>