<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (user) { %>
        <h1>Welcome to ManTrack <% user.username %>!</h1>
        <p>A Project Managment App</p>
        <p><a href="/auth/sign-out">Sign out</a></p>
        <p><a href="/project/project">Add New Project</a></p>
        <% } else { %>
        <h1>Welcome to the Project Managment App.</h1>
        <p>
          <a href="/auth/sign-up">Sign up</a> or <a href="/auth/sign-in">sign in</a>.
        </p>
        <% } %>
</body>
</html>