footer {
    background-color: #025259;
    color: #fff;
    padding: 8px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
    text-align: center;
    margin-top: 10px;
}

.footer-content {
    max-width: 1200px;
  }

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
    font-size: 8px;
  }
  
.footer-links a:hover {
    color: #D94F04;
    cursor: pointer;
  }
  
.footer-content p {
    margin: 10px 0;
    font-size: 6px;
  }