/* body for all pages */
html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F4E2DE;
    color: #025259;
    height: 100%;
    margin: 2px;
    padding: 2px;
  }

  h1 {
    font-size: 15px;
  }


  a:hover {
    color: #007172;
  }
  
  .about-columns {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .about-box, h2 {
    flex: 1;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-size: 10px;
    line-height: 1.4;
  }
  
  .about-box h3 {
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  .about-box ul {
    padding-left: 20px;
  }

  /* profile */
  .profile-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
  }
  
  .profile-container h1 {
    text-align: center;
    font-size: 14px;
    color: #025259;
    margin-bottom: 20px;
  }
  
  .profile-container div {
    display: flex;
    margin: 10px 0;
    font-size: 10px;
  }
  
  .profile-container span {
    font-weight: bold;
    color: #025259;
    margin-right: 10px;
  }
  
  .profile-container .btn {
    display: inline-block;
    background: #007172;
    font-size: 10px;
    color: #fff;
    padding: 8px 16px;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
  }
  
  .profile-container .btn:hover {
    background: #025259;
    transform: scale(1.05);
  }