<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Add New Task</title>

  <link rel="stylesheet" href="/stylesheets/task.css" />
  <link rel="stylesheet" href="/stylesheets/form.css" />
  <script defer src="/app.js"></script>
</head>

<%- include('../partials/_navbar.ejs') %>
<body>
<div class="form-container">
 
    <!-- New Task Form -->
  <form action="/task/<%= project._id %>" method="POST">
    <div class="form-title">Add New Task</div>
    <label for="Type">Type</label>
    <select name="Type" id="type" required>
      <option disabled selected value="">-- Select Type --</option>
      <option value="Task">Task</option>
      <option value="Issue">Issue</option>
    </select>
    <label for="ReportedDate">Reported Date</label>
    <input type="date" name="ReportedDate" id="reportedDate" required>
    <label for="DueDate">Due Date</label>
    <input type="date" name="DueDate" id="dueDate" required>
    <label for="Status">Status</label>
    <select name="Status" id="Status" required>
      <option value="Pending">Pending</option>
      <option value="In Progress">In Progress</option>
      <option value="Completed">Completed</option>
    </select>
    <label for="Description">Description</label>
    <textarea name="Description" id="description" rows="4"></textarea>
    <label for="Notes">Notes</label>
    <textarea name="Notes" id="notes" rows="3"></textarea>

    <button type="submit" class="button">Create Task</button>
  </form>

  <a href="/project/<%= project._id %>" class="btn back-btn">Back to Project</a>
</div>
</body>
<%- include('../partials/_footer.ejs') %>
</html>