<%- include('../partials/_header.ejs') %>
<body>
    <h1>Projects</h1>
    <ul>
        <% projects.forEach((project)=>{ %>
        <li><a href="/project/<%= project._id %>"><%= project.ProjectName %></a> at <%= project.CompanyName %></li>
        <% }) %>
      </ul>
</body>
</html>