<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Home</title>

  <link rel="stylesheet" href="/stylesheets/project.css" />
  <link rel="stylesheet" href="/stylesheets/form.css" />
  <script defer src="/app.js"></script>
</head>

<%- include('../partials/_navbar.ejs') %>

<body>
    <div>
        <!-- New Project Form -->
        <form action="/project/" method="POST">
            <div class="form-title">Add New Project</div>
            <label for="CompanyName">Company Name:</label>
            <input name="CompanyName" type="text">
            <label for="ProjectName">Project Name:</label>
            <input name="ProjectName" type="text">
            <label for="StartDate">Start Date:</label>
            <input name="StartDate" type="date">
            <label for="DueDate">Due Date:</label>
            <input name="DueDate" type="date"><br>
            <label for="Description">Description:</label>
            <textarea name="Description" id="Description"></textarea><br>
            <label for="Notes">Notes:</label>
            <textarea name="Notes" id="Notes"></textarea><br>
            <button class="button" type="submit">Add Project</button>
        </form>
    </div>
</body>
<%- include('../partials/_footer.ejs') %>
</html>