<%- include('../partials/_header.ejs') %>
<body>
    <h1> add new project </h1>
    <div>
        <form action="/project/" method="POST">
            <label for="CompanyName">Company Name:</label>
            <input name="CompanyName" type="text">
            <label for="ProjectName">Project Name:</label>
            <input name="ProjectName" type="text">
            <label for="StartDate">Start Date:</label>
            <input name="StartDate" type="date">
            <label for="DueDate">Due Date:</label>
            <input name="DueDate" type="date"><br>
            <label for="Description">Description:</label>
            <textarea name="Description" id="Description"></textarea><br>
            <label for="Notes">Notes:</label>
            <textarea name="Notes" id="Notes"></textarea><br>
            <button type="submit">Add Project</button>
        </form>
    </div>
</body>
<%- include('../partials/_footer.ejs') %>