<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> add new project </h1>
    <div>
        <form action="" method="">
            <label for="CompanyName">Company Name:</label>
            <input type="text">
            <label for="ProjectName">Project Name:</label>
            <input type="text">
            <label for="StartDate">Start Date:</label>
            <input type="date">
            <label for="DueDate">Due Date:</label>
            <input type="date"><br>
            <label for="Description">Description:</label>
            <textarea name="Description" id="Description"></textarea><br>
            <label for="Notes">Notes:</label>
            <textarea name="Notes" id="Notes"></textarea><br>
            <button type="submit">Add Project</button>
        </form>
    </div>
</body>
</html>